.row {
    margin-top: 5px;
}

.container {
    width:1080px;
    margin:0px auto;
}

header {
    text-align: center;
    border:1px solid #cecece;
    border-radius:.25rem!important;
}

nav {
    padding:0.2%;
    margin-top: 0.5%;
    border-radius:.25rem!important;
}

.container-fluid {
    border-radius:.25rem!important;
    border:1px solid #cecece;
}

footer{
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 0px 10px 0px;
    background-color: #333;
    text-align: center;
}

footer a{
    color: #DCDCDC;
}

